<li class="event trailing-margin">
    <h3 class="event__title alt-h3">
        <a href="<%= event.external %>" title="<%= event.external_body %>">
            <%= event.title %>
        </a>
    </h3>
    <time class="event__timestamp"><%= scope.momentFilter(event.date, 'MMMM YYYY') %></time>
    <% if(event.tagline) { %>
    <p class="event__desc"><%= event.tagline %></p>
    <% } %>
    <div class="event__users">
        <% event.users.forEach(function(user) { %>
        <a href="<%= user.link %>">
            <img src="<%= scope.getGravatarUrl(user.emailAddress) %>" alt="<%= user.name %>" class="event__user-gravatar" width="56" height="56">
        </a>
        <% }); %>
    </div>
</li>
