<% include head %>
<main class="trailing-margin">
    <section>
        <div class="grey-widget trailing-margin">
            <div class="page-intro">
                <h1>Events & Talks</h1>
                <p>Our developers can often be found talking about building our
                digital products at a number of different events and
                conferences. We even host a few events at our offices in
                London.</p>
            </div>
        </div>
        <div class="inset">
            <div class="island">
                <section class="dotted-top">
                    <h2>Events at the Guardian</h2>
                    <div class="l-grid l-desktop-grid">
                        <div class="l-desktop-grid-cell l-grid-cell l-desktop-1of3">
                        </div>
                        <div class="l-desktop-grid-cell l-grid-cell">
                            <div class="media">
                                <div class="media__img">
                                    <img src="./images/content/events/functionaljs-london.png"
                                         alt="FunctionalJS London Logo">
                                </div>
                                <div class="media__body event__body">
                                    <h3 class="alt-h3"><a href="http://lanyrd.com/series/funjsldn/">FunctionalJS London</a></h3>
                                    <p>FunctionalJS is a meetup to learn about functional programming with JavaScript – whether that means using Underscore/Lodash, exploring currying and functional-reactive programming, or languages that compile to JavaScript to bring more functional tools to bear.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="island">
                <section class="dotted-top">
                    <h2>Recents talks by the Guardian</h2>
                    <ul class="l-grid l-tablet-grid l-tablet-grid--1of2 l-desktop-grid l-desktop-grid--1of3 base-list">
                        <% scope.talks.forEach(function (talk) {
                            var author = scope.findAuthorByName(talk.authorName);
                            var talkLinkTitle = {
                                'slides': 'View slides',
                                'video': 'View video',
                                'article': 'Read article',
                                'undefined': 'View'
                            }[talk.type]; %>
                            <li class="l-grid-cell l-tablet-grid-cell l-desktop-grid-cell">
                                <div class="talk__image-container">
                                    <a href="<%= talk.link %>" title="<%= talkLinkTitle %>">
                                        <img src="./images/content/talks/<%= talk.imageFileBasename %>"
                                             alt="<%= talk.title %>"
                                             class="talk__image-container__image">
                                    </a>
                                    <a href="<%= author.link %>">
                                        <img src="<%= scope.getGravatarUrl(author.emailAddress) %>" alt="<%= author.name %>" class="talk__image-container__author-gravatar">
                                    </a>
                                </div>
                                <a href="<%= talk.link %>" title="<%= talkLinkTitle %>">
                                    <h3 class="alt-h3"><%= talk.title %></h3>
                                </a>
                                <span><a href="<%= author.link %>"><%= talk.authorName %></a></span>
                                <br>
                                <span><%= talk.location %></span>,
                                <time><%= scope.momentFilter(talk.date, 'MMMM YYYY') %></time>
                            </li>
                        <% }); %>
                    </ul>
                </section>
            </div>
        </div>
    </section>
</main>
<% include footer %>
