<% include head %>
<main class="trailing-margin">
    <section>
        <div class="grey-widget trailing-margin">
            <div class="page-intro">
                <h1>Events & Talks</h1>
            </div>
        </div>
        <div class="inset">
            <div class="island">
                <section class="dotted-top">
                    <h2>Events at the Guardian</h2>
                    <div class="l-grid l-desktop-grid">
                        <div class="l-desktop-grid-cell l-grid-cell l-desktop-1of3">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="l-desktop-grid-cell l-grid-cell">
                            <div class="l-grid l-default-grid">
                                <div class="media">
                                    <div class="media__img">
                                        <img src="/images/content/events/functionaljs-london.png"
                                             alt="FunctionalJS London Logo">
                                    </div>
                                    <div class="media__body event__body">
                                        <h3 class="alt-h3"><a href="http://lanyrd.com/series/funjsldn/">FunctionalJS London</a></h3>
                                        <p>FunctionalJS is a meetup to learn about functional programming with JavaScript – whether that means using Underscore/Lodash, exploring currying and functional-reactive programming, or languages that compile to JavaScript to bring more functional tools to bear.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="island">
                <section class="dotted-top">
                    <h2>Recents talks by the Guardian</h2>
                    <!-- <section class="trailing-margin">
                        <h3>Videos</h3>
                        <ul class="base-list">
                            <li><iframe width="560" height="315" src="//www.youtube.com/embed/-W0FBNbMLs0" frameborder="0" allowfullscreen></iframe></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Blogs</h3>
                        <p>foo</p>
                        <ul>
                            <li>http://bytes.inso.cc/2014/05/09/reactive-programming-in-javascript-funjs-london/</li>
                            <li>http://bytes.inso.cc/2014/05/09/the-symbiotic-web-frontend-london-nov-2013/</li>
                            <li></li>
                        </ul>
                    </section> -->
                    <ul class="l-grid l-desktop-grid l-desktop-grid--1of3 base-list">
                        <% scope.talks.forEach(function (talk) {
                            var author = scope.findAuthorByName(talk.authorName) %>
                            <li class="l-desktop-grid-cell">
                                <a href="<%= talk.link %>" title="<%= {
                                    'slides': 'View slides',
                                    'video': 'View video',
                                    'undefined': 'View'
                                }[talk.type] %>">
                                    <img src="/images/content/talks/<%= talk.imageFileBasename %>" alt="<%= talk.title %>">
                                    <img src="<%= scope.getGravatarUrl(author.emailAddress) %>" alt="<%= author.name %>">
                                    <h3 class="alt-h3"><%= talk.title %></h3>
                                </a>
                                <span><a href="<%= author.link %>"><%= talk.authorName %></a></span>
                                <br>
                                <span><%= talk.location %></span>,
                                <time><%= scope.momentFilter(talk.date, 'MMMM YYYY') %></time>
                            </li>
                        <% }); %>
                        <!-- <li class="l-desktop-grid-cell">foo</li>
                        <li class="l-desktop-grid-cell">foo</li>
                        <li class="l-desktop-grid-cell">foo</li>
                        <li class="l-desktop-grid-cell">foo</li>
                        <li class="l-desktop-grid-cell">foo</li> -->
                    </ul>
                </section>
            </div>
        </div>
    </section>
</main>
<% include footer %>
