<!DOCTYPE html>
<html>
    <head>
        <title><%= scope.title !== 'Home' ? scope.title + ' – ' : '' %>The Guardian – Developers</title>
        <meta charset="utf-8">

        <% if(scope.description) { %>
        <meta name="description" content="<%= scope.description %>">
        <% } %>

        <link rel="stylesheet" href="./css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Social -->
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="@gdndevelopers" />
        <meta property="twitter:title" content="<%= scope.title %>" />


        <meta property="og:title" content="<%= scope.title %>" />
        <meta property="og:site_name" content="Guardian developers" />
        <meta property="og:image" content="http://developers.theguardian.com/images/default-social.jpg" />

        <% if(scope.description) { %>
        <meta name="twitter:description" content="<%= scope.description %>">
        <meta name="og:description" content="<%= scope.description %>">
        <% } %>        

        <!-- TODO: Concatenate -->
        <script src="./jspm_packages/system@0.6.js"></script>
        <script src="./js/config.js"></script>
        <script>
            /* global System */
            // Must be loaded before the body is parsed?
            System.import('js/modernizr');
        </script>
        <script src="./js/picturefill.min.js" async></script>
    </head>
    <body>
        <header class="header">
            <div class="header__inner">
                <div class="header-row">
                    <h1 class="title header-column">
                        <a href="./">
                            <img src="./images/logo-guardian-developers.svg"
                                 alt="The Guardian – Developers">
                        </a>
                    </h1>
                    <nav class="links-nav header-column--links-nav">
                        <h1 class="hidden">Links</h1>
                        <a class="links-nav__item"
                           href="https://github.com/guardian"
                           title="View our GitHub"><img src="./images/icon-github.svg" alt="GitHub logo"></a>
                        <a class="links-nav__item"
                           href="http://theguardian.com/info/developer-blog/rss"
                           title="View the Guardian Developer Blog feed"><img src="./images/icon-feed.svg" alt="Feed symbol"></a>
                        <a class="links-nav__item"
                           href="https://twitter.com/gdndevelopers"
                           title="View Guardian Developers on Twitter"><img src="./images/icon-twitter.svg" alt="Twitter logo"></a>
                    </nav>
                </div>
                <nav class="main-nav">
                    <h1 class="hidden">Navigation</h1>
                    <ul class="l-grid l-grid--collapse l-desktop-grid">
                        <% scope.pages.forEach(function (page) {
                            var hrefUrl = page.fileBasename.replace(/\.ejs$/, '.html'); %>
                            <li class="l-desktop-grid-cell l-grid-cell">
                                <a href="<%= hrefUrl === 'index.html' ? './' : hrefUrl %>"
                                   <% if (page.fileBasename === scope.fileBasename) { %> class="active" <% } %>><%= page.menuTitle ? page.menuTitle : page.title %></a>
                           </li>
                        <% }); %>
                    </ul>
                </nav>
            </div>
        </header>
